*.dll
*.mdb
*.pidb
*.gmo
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-debug/
config.log
config.status
configure
desktop/lat-plugins.pc
desktop/lat.desktop
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
lat.spec
lat/AssemblyInfo.cs
lat/Defines.cs
lat/lat
lat/lat.exe
lat/lat.userprefs
missing
mkinstalldirs
omf.make
po/.intltool-merge-cache
po/Makefile.in.in
po/POTFILES
po/stamp-it
xmldocs.mae
xmldocs.make
