Source: lat
Section: net
Priority: optional
Maintainer: Loren Bandiera <lorenb@mmgsecurity.com>
Build-Depends: cdbs, debhelper (>= 4.1), mono-gmcs, libmono-dev, gtk-sharp2 (>= 2.4), libgnome-keyring-dev, scrollkeeper, libxml-parser-perl, pkg-config, libdbus-1-cil, libavahi-cil
Standards-Version: 3.6.2.1

Package: lat
Architecture: any
Depends: mono (>= 1.1.12.1), gtk-sharp2 (>= 2.4), libgnome-keyring0, libdbus-1-cil, libavahi-cil, ${shlibs:Depends}, ${misc:Depends}
Description: LDAP Administration Tool
 LAT stands for LDAP Administration Tool. The tool allows you to browse 
 LDAP-based directories and add/edit/delete entries contained within. It 
 can store profiles for quick access to different servers.
