#!/usr/bin/make -f

export MONO_SHARED_DIR=$(CURDIR)

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk

install/lat::
	rm -rf $(CURDIR)/debian/lat/var
